<nav id="sidebar">
    <div class="sidebar-header">
        <a asp-controller="Account" asp-action="UserPage"><h4>Моя страница:</h4></a>
    </div>

    <ul class="list-unstyled components">
        <div>
            <p> 
                @ViewBag.UserName
                <br />ID: @ViewBag.Id | @ViewBag.FullName
            </p>

            <ul class="list-group-horizontal">
                Лучший результат:
                <li>время: @ViewBag.BestTime c</li>
                <li>трасса, конфигурация: @ViewBag.Track</li>
                <li>авто: @ViewBag.Car
                </li>
            </ul>
        </div>
        <br>
        <li>
            <a asp-controller="LapSessions" asp-action="MySessions">Посмотреть свои заезды</a>
        </li>
        <li>
            <a asp-controller="LapSessions" asp-action="Create">Добавить новый заезд</a>
        </li>
        <br>
        <li>
            <a asp-controller="Posts" asp-action="Create">Добавить публикацию</a>
        </li>
    </ul>
</nav>