@using ScopeLap.Models;
@model ListSessionViewModel;

@{
    ViewData["Title"] = "Подробности заезда";
}

<div class="wrapper">
    <!-- Sidebar  -->
    @await Html.PartialAsync("Account/_SidePanel")


    <!-- Page Content  -->
    <div id="content">
        <div>
            <h2>Подробности заезда:</h2>
            <table cellpadding="10px">
                <tr>
                    <td><h5>Дата заезда:</h5></td>
                    <td style="font-weight:bold">
                        @Html.DisplayFor(model => model.SessionDate)
                    </td>
                </tr>
                
                <tr>
                    <td><h5>Водитель:</h5></td>
                    <td style="font-weight:bold">
                        @Html.DisplayFor(model => model.Username)
                    </td>
                    
                </tr>
                <tr>
                    <td><h5>Автомобиль:</h5></td>
                    <td style="font-weight:bold">
                        @Html.DisplayFor(model => model.CarName)
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td><h5>Трасса:</h5></td>
                    <td style="font-weight:bold">
                        @Html.DisplayFor(model => model.TrackName)
                    </td>
                    
                </tr>
                <tr>
                    <td><h5>Время круга, мс:</h5></td>
                    <td style="font-weight:bold">
                        @Html.DisplayFor(model => model.PrintTime)
                    </td>
                </tr>
                <tr>
                    <td><h5>Детали заезда:</h5></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="font-weight:bold" colspan="2">
                        @Html.DisplayFor(model => model.SessionNote)
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div>
            @if (Model.UserId.ToString() == ViewBag.IdCheck)
            {
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Редактировать заезд</a>
            }
            <a class="btn btn-outline-info" asp-action="Index">Назад</a>
        </div>
    </div>
</div>