@model ScopeLap.Models.DataBaseEngine.LapSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LapSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LapTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LapTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LapNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LapNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Manufacturer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
