@model IEnumerable<ScopeLap.Models.DataBaseEngine.LapSession>

@{
    ViewData["Title"] = "Index";
}

<div class="wrapper">
    <!-- Sidebar  -->
    @await Html.PartialAsync("Account/_SidePanel")


    <!-- Page Content  -->
    <div id="content">

        <h1>Заезды</h1>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LapTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LapNote)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LapTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LapNote)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.Manufacturer)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


