@model IEnumerable<ListSessionViewModel>

@{
    ViewData["Title"] = "Топ 100";
}

<div class="wrapper">
    <!-- Sidebar  -->
    @await Html.PartialAsync("Account/_SidePanel")


    <!-- Page Content  -->
    <div id="content">

        <h1>Заезды</h1>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Трасса
                    </th>
                    <th>
                        Время
                    </th>
                    <th>
                        Авто
                    </th>
                    <th>
                        Водитель
                    </th>
                    <th>
                        Дата заезда
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrackName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrintTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SessionDate)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: underline;">Подробности</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


