@using ScopeLap.Models
@model IEnumerable<ListSessionViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="wrapper">
    <!-- Sidebar  -->
    @await Html.PartialAsync("Account/_SidePanel")


    <!-- Page Content  -->
    <div id="content">

        <h1>Заезды</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Время круга</th>
                    <th>Авто</th>
                    <th>Водитель</th>
                    <th>Дата заезда</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrintTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SessionDate)
                        </td>
                        <td>
                            <a type="button" class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                            <a type="button" class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Удалить
                            </button>
                            
                            <!-- Modal Delete-->
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel">Удаление</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Хотите удалить заезд?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" asp-for="@item.Id" />
                                                <input type="submit" value="Удалить" class="btn btn-danger" /> 
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}